body {
  background-color: darkslateblue;
  color: cornsilk;
  margin: auto;
  width: 60%;
}

h1,
h3 {
  text-align: center;
}

h3 {
  color: darkorange;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.image-container {
  display: flex;
  justify-content: center;
}

section {
  text-align: center;
  border-top: 3px solid black;
  margin: 1rem auto
}

ul {
  list-style: none;
}

li {
  padding-left: 1rem;
  margin-top: 0.7rem;

}
